.section-projects{
  border-radius: 0px;
  width: 100%;
  border-top: 1px solid #cb6971;
  border-bottom: 1px solid #cb6971;
}

ul{
  display: flex;
  justify-content: space-evenly;
  gap: 400px;
  flex-wrap: wrap
}

.container-projects{
  background-color: #cb6971;
}

img{
  height: 100px;
  width: 100px;
}